nav {
    padding: 4vh 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    border-bottom: 3px solid var(--header-border-color);
    margin-bottom: 2rem;
}

a, p {
    margin: 0 3vw;
    font-weight: 525;
    font-size: 1.5rem;
    user-select: none;
}

a {
    padding: 0.3rem 0.5rem 0.4rem 0.7rem;
    text-decoration: none;
    border-radius: 2rem;
    background-color: var(--header-btn-default-color);
    transition: background-color 200ms ease;
}

a,
a:active,
a:visited {
    color: var(--header-font-color);
}

a:hover:not(.active) {
    background-color: var(--header-btn-hover-color);
}

.active {
    cursor: default;
    background-color: var(--header-btn-active-color);
}