.title {
    margin: 20vh 0 40vh 0;
}

.title h1 {
    font-size: 5rem;
}
.title h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}
.title h3 {
    font-size: 2rem;
}

section div * {
    margin-bottom: 0.5rem;
}