<div>
    <h1>Lau6L</h1>
    <p>/læʊ/</p>
    <h3>from Argentina to your stderr</h3>
</div>

<section id="about-me">
    <h2>About Me</h2>
    <div>
        <p>
            I'm Lau! I'm a developer from Argentina, currently studying Computer Engineering
            (<a href="https://www.mdp.edu.ar/" target="_blank">UNMdP</a>), 
            with a background in programming from a previous technical degree 
            (<a href="https://mdp.utn.edu.ar/" target="_blank">UTN</a>).
        </p>

        <p>
            I enjoy backend development and learning about how systems work in depth.
            What I get most satisfaction from is improving my skills with each project.
        </p>

        <p>
            I began programming using videogames, with Minecraft's command blocks and Scrap
            Mechanic's logic gates, when I was about 9 years old. I instantly knew that would
            be my passion and, well, kept at it ever since! Over time, I moved on to data packs,
            resource packs, and eventually Java mods.
        </p>
    </div>
</section>