:host {
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div, ul {
    display: flex;
    flex-direction: row;
}
div {
    justify-content: center;
}
ul {
    justify-content: space-around;
    padding: 0 25vw;
}

li {
    list-style-type: none;
}

a, p {
    margin: 2.5vh 0.2vw;
    font-size: 0.9rem;
}

.active {
    
}