<h1>
    Skills
</h1>

<section>
    <article>
        <h2>Backend</h2>

        <ul>
            <li>Spring (JPA/Hibernate)</li>
            <li>MySQL</li>
            <li>REST APIs</li>
        </ul>
    </article>

    <article>
        <h2>Frontend</h2>

        <ul>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
        </ul>
    </article>

    <article>
        <h2>Other Software</h2>

        <ul>
            <li>Docker</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>JetBrains IDEs</li>
            <li>VS Code</li>
        </ul>
    </article>

    <article>
        <h2>Minecraft Modding</h2>

        <ul>
            <li>Java</li>
            <li>Gradle</li>
        </ul>
    </article>

    <article>
        <h2>Other Languages</h2>

        <ul>
            <li>C</li>
            <li>Python</li>
            <li>Kotlin</li>
        </ul>
    </article>
</section>
