<h1>
    Skills
</h1>

<section>
    <article>
        <h2>Backend</h2>

        <ul>
            <li>Spring (JPA/Hibernate)</li>
            <li>MySQL</li>
            <li>REST APIs</li>
        </ul>

        <p>
            Backend development is what I enjoy the most. I've mainly worked with Java Spring
            to build APIs, manage databases, and cleanly structure maintainable applications.
        </p>
        <p>
            I use MySQL and JPA/Hibernate for data persistence and modeling, while writing
            long-term readable and scalable code.
        </p>
        <p>
            I've also been experimenting recently with PostgreSQL and Kafka in some simple Docker
            containerized projects, although I'm not yet an expert.
        </p>
    </article>

    <article>
        <h2>Frontend</h2>

        <ul>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Node.js</li>
        </ul>

        <p>
            Although backend development is my main strength, I have experience with frontend
            development with Angular for projects that need full stack integration with backend APIs.
        </p>
        <p>
            I've worked with HTML, CSS, and TypeScript, creating organized, responsive interfaces.
        </p>
        <p>
            Moreover, I have JavaScript knowledge, which I tend to use for small scripts that may
            require quick HTTP servers in Node.js.
        </p>
    </article>

    <article>
        <h2>Minecraft Modding</h2>

        <ul>
            <li>Java</li>
            <li>Gradle</li>
        </ul>

        <p>
            After developing datapacks and plugins for Minecraft: Java Edition, open-source modding
            has become my main hobby.
        </p>
        <p>I have experience building Minecraft mods in Java, using Gradle for
            setup, dependency management, and building. This has strengthened my skills in OOP design,
            debugging, and working with large codebases and game-specific APIs.
        </p>
        <p>
            More specifically, I make extended use of bytecode manipulation through SpongePowered
            Mixin, an ASM library framework, and work mainly with the Fabric API.
        </p>
        <p>
            Mods I've developed include both independent, feature-oriented projects, as well as
            libraries for other mod developers.
        </p>
    </article>

    <article>
        <h2>Other Software</h2>

        <ul>
            <li>JetBrains IDEs</li>
            <li>VS Code</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Docker</li>
        </ul>

        <p>
            Most of my development workflow is centered around JetBrains IDEs, primarily IntelliJ,
            and I normally use VS Code for frontend projects.
        </p>
        <p>
            I'm quite comfortable working in team-oriented workflows, and regularly use Git/GitHub
            for version control in my projects.
        </p>
        <p>
            Docker is still relatively new to me, but I'm already seeing its advantages.
            I've especially begun to use it in development environments for personal projects,
            like ZeroTier network controller testing.
        </p>
    </article>

    <article>
        <h2>Other Languages</h2>

        <ul>
            <li>C</li>
            <li>Python</li>
            <li>Kotlin</li>
        </ul>

        <p>
            I started my programming studies with C, so I'm accustomed to its syntax and many of its
            nuances. I'd also like to learn C++ and develop some low-level projects in the future,
            although that's not quite my priority at the moment.
        </p>
        <p>
            Furthermore, I'm learning Kotlin, which I plan to get into as deeply as I can when I have the time.
        </p>
        <p>
            I also use Python for quick scripting.
        </p>
    </article>
</section>
