* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main-color: #FFF;
    --bg-section-color: #AAA;
    --font-color: #000;
}

body {
    background-color: var(--bg-main-color);
}

section {
    background-color: var(--bg-section-color);
    border-radius: 25px;
    width: 75vw;
    margin: 2rem auto;
    padding: 5vh 3vw 5vh 3vw;
}

section h1 {
    margin-bottom: 2rem;
}

p, a {
    font-size: 1.66rem;
    text-align: justify;
}

a {
    text-decoration: none;
    color:brown
}

a:hover {
    text-decoration: underline;
    color:aquamarine
}