<h1>
    About Me
</h1>


<section id="about-me">
    <p>
        I'm Lau! I'm a developer currently studying Computer Engineering
        (<a href="https://www.mdp.edu.ar/" target="_blank">UNMdP</a>), 
        with a background in programming from a previous technical degree 
        (<a href="https://mdp.utn.edu.ar/" target="_blank">UTN</a>).
    </p>

    <p>
        I enjoy backend development and learning how systems work in depth.
        I'm passionate about improving my skills with each project.
    </p>

    <p>
        I began programming using videogames, with Minecraft's command blocks and Scrap
        Mechanic's logic gates, when I was about 9 years old. I instantly knew that would
        be my passion and, well, kept at it ever since! Over time, I moved on to resource
        packs, data packs, and eventually Java mods.
    </p>
</section>