<h1>
    Projects
</h1>

<section>
    @for (project of projects; track $index) {
        <article>
            <img onerror="this.src='project-assets/icons/unknown.png'" [src]="`project-assets/icons/${project.name}.png`" [alt]="project.name">

            <div class="bar"></div>

            <div class="content">
                <div class="title">
                    <h2>{{ project.name }}</h2>

                    <div class="links">
                        @if (project.source) {
                            <a [href]="project.source" target="_blank">
                                <svg>
                                    <use href="project-assets/GitHub.svg#icon"></use>
                                </svg>
                            </a>
                        }

                        @if (!project.completed || !project.links) {
                            <p class="wip">WIP</p>
                        } @else {
                            @for (link of project.links; track $index) {
                                <a [href]="link.url" target="_blank">
                                    <svg>
                                        <use [attr.href]="`project-assets/providers/${link.provider}.svg#icon`"></use>
                                    </svg>
                                </a>
                            }
                        }
                    </div>
                </div>
                
                <p class="type">{{ project.type.replaceAll('_', ' ').toUpperCase() }}</p>

                <p class="description">{{ project.description }}</p>
            </div>
            
        </article>
    }
</section>