<h1>
    Projects
</h1>

<section>
    @for (project of projects; track $index) {
        <article>
            <img onerror="this.src='project-assets/icons/unknown.png'" [src]="'project-assets/icons/' + project.name + '.png'" [alt]="project.name">

            <div class="bar"></div>

            <div class="content">
                <div class="title">
                    <h2>{{ project.name }}</h2>

                    <div class="links">
                        @if (project.source) {
                            <a [href]="project.source" target="_blank">
                                <img src="project-assets/github.svg" alt="GitHub source">
                            </a>
                        }

                        @if (!project.completed || !project.links) {
                            <p class="wip">WIP</p>
                        } @else {
                            <div class="releases">
                                @for (link of project.links; track $index) {
                                    <a [href]="link.url" target="_blank">
                                        <img [src]="`project-assets/providers/${link.provider}.svg`" [alt]="`${link.provider} release`">
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
                
                <p class="type">{{ project.type.replaceAll('_', ' ').toUpperCase() }}</p>

                <p class="description">{{ project.description }}</p>
            </div>
            
        </article>
    }
</section>