svg {
    width: 2.4rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    background-color: #0000;
}

article {
    background-color: var(--project-color);
    margin: 0.75vw;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
    text-align: left;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    text-align: left;
    color: var(--project-title-font-color);
    margin-bottom: 1px;
}

.type {
    font-weight: 750;
    font-size: 1.1rem;
    display: inline-block;
    padding: 0.1rem 0.35rem 0.075rem;
    border-radius: 0.3rem;
    text-align: left;
    margin-bottom: 7px;
    color: var(--project-type-font-color);
    background-color: var(--project-type-color);
    
}

img {
    height: 8rem;
    width: 8rem;
    aspect-ratio: 1;
    margin: 0 auto;
    background-color: gray;
    border-radius: 1rem;
}

.bar {
    width: 0.25rem;
    margin: 0 1rem;
    background-color: var(--header-border-color);
}

.description {
    font-size: 1.3rem;
    text-align: left;
    border: 0.19rem solid var(--project-desc-color);
    padding: 5px;
    border-radius: 8px;
}

.wip {
    font-weight: 750;
    font-size: 1.75rem;
    background-color: var(--project-wip-color);
    color: var(--project-wip-font-color);
    margin: auto 5px;
    padding: 0.25rem 0.4rem 0.45rem;
    border-radius: 8px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: var(--project-wip-color);
    border-radius: 3rem;
    padding: 0.4rem 0.5rem 0.1rem 0.5rem;
}

svg {
    height: 3rem;
    width: 3rem;
    fill: var(--link-default-color);
}

svg:hover {
    fill: var(--link-active-color);
}